<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for msg in messages %}
    <h1>{{msg}}</h1>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="user">user</label>
        <input type="text" id="user" name="username" placeholder="username">
        <label for="email">email</label>
        <input type="email" id="email" name="email" placeholder="email">
        <label for="tel">tel</label>
        <input type="tel" id="tel" name="tel" placeholder="tel">
        <input type="submit" value="signin">
    </form>
</body>
</html>