<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if res %}
    {%for i in res%}
    <form method="post" >
        
        {% csrf_token %}
        <input type="text" id="id_sname" name="name" value="{{i.name}}" required><br>
        <input type="email" id="id_marks" name="email" value="{{i.email}}"required><br>
        <input type="phone" id="id_doj" name="phone" value="{{i.phone}}" required><br>
        <input type="text" id="id_loc" name="location" value="{{i.location}}" required><br>
        <input type="submit" value="update_val">
        </form>
        {% endfor %}
    {% else %}
    <form method="post">
        {% csrf_token %}
        <input type="text" id="id_sid" name="sid" required><br>
        <input type="submit" value="update">
        </form>
    {% endif  %}
</body>
</html>